<!DOCTYPE html>
<html lang="en">

<head th:replace="layout/fragments/head :: head"></head>

<body>
<header class="bg-dark text-white text-center fs4" style="line-height: 40px;">
    Freeship cho đơn từ 399k
</header>

<div th:replace="layout/fragments/navigation :: navigation"></div>
<!--Navigation end-->

<a href="">
    <div class="page_h">
    </div>
</a>
<!-- Background header -->

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-md-6">
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <img th:src="@{layout/images/that-lung-dau-kim-tl167-34997-p.jpg}" alt="" class="w-100 h-auto mb-4" id="avatar">
                    </div>
                    <div class="col-md-3 ">
                        <img th:src="@{layout/images/that-lung-dau-kim-tl167-18468-slide-products-663c7d695ebbc.jpg}" alt="" class="w-100 h-auto img-infor">
                    </div>
                    <div class="col-md-3 ">
                        <img th:src="@{layout/images/that-lung-dau-kim-tl167-18468-slide-products-663c7d694bc1d.jpg}" alt="" class="w-100 h-auto img-infor">
                    </div>
                    <div class="col-md-3 ">
                        <img th:src="@{layout/images/that-lung-dau-kim-tl167-18468-slide-products-663c7d693c424.jpg}" alt="" class="w-100 h-auto img-infor">
                    </div>
                    <div class="col-md-3 ">
                        <img th:src="@{layout/images/that-lung-dau-kim-tl167-34997-p.jpg}" alt="" class="w-100 h-auto img-infor">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-title">
                THẮT LƯNG ĐẦU KIM TL167 MÀU ĐEN
            </div>
            <div class="star">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
            </div>
            <div class="price">275000₫</div>
            <hr>
            <label for="">Số lượng:</label>
            <select name="" id="" class="w-25">
                <option value="">1</option>
                <option value="">1</option>
                <option value="">1</option>
                <option value="">1</option>
                <option value="">1</option>
            </select>
            <br>
            <br>
            <div class="btn btn-success">MUA NGAY</div>
            <div class="btn btn-info">MUA NGAY</div>
        </div>
    </div>





</div>
<!--product end-->

<div th:replace="layout/fragments/footer :: footer"></div>
<!--footer end-->

<div th:replace="layout/fragments/script :: script"></div>
</body>

</html>