<head xmlns:th="http://www.thymeleaf.org" th:fragment="head" >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ</title>
  <link rel="stylesheet" th:href="@{layout/css/boostap.min.css}">
  <link rel="stylesheet" th:href="@{layout/css/index.css}">
  <link rel="stylesheet" th:href="@{layout/css/login.css}">
  <link rel="stylesheet" th:href="@{layout/css/cart.css}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>