<nav class="navbar navbar-expand-sm bg-white navbar-light sticky-top" th:fragment="navigation">
    <div class="container-fluid fs-3">
        <div class="col-md-2">
            <a class="navbar-brand" th:href="@{trang-chu}">
                <img th:src="@{layout/images/logo.png}" alt="Logo" style="width:130px;" class="rounded-pill">
            </a>
        </div>


        <div class="collapse navbar-collapse col-md-10" id="mynavbar">
            <ul class="navbar-nav me-auto fs-5">
                <li class="nav-item pe-4">
                    <a class="nav-link active text-danger" href="javascript:void(0)">HÀNG MỚI VỀ</a>
                </li>
                <li class="nav-item dropdown pe-4">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">ÁO NAM</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{ao-so-mi}">Áo sơ mi</a></li>
                        <li><a class="dropdown-item" href="#">Áo polo</a></li>
                        <li><a class="dropdown-item" href="#">Áo thun</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown pe-4">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">QUẦN
                        NAM</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Link</a></li>
                        <li><a class="dropdown-item" href="#">Another link</a></li>
                        <li><a class="dropdown-item" href="#">A third link</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown pe-4">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">PHỤ
                        KIỆN</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Link</a></li>
                        <li><a class="dropdown-item" href="#">Another link</a></li>
                        <li><a class="dropdown-item" href="#">A third link</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown pe-4">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">GIÀY DÉP
                        NAM</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Link</a></li>
                        <li><a class="dropdown-item" href="#">Another link</a></li>
                        <li><a class="dropdown-item" href="#">A third link</a></li>
                    </ul>
                </li>
                <li class="nav-item pe-4">
                    <a class="nav-link" href="javascript:void(0)">KHUYẾN MÃI</a>
                </li>
            </ul>
            <form class="d-flex">
                <a th:href="@{cart}">
                    <i class='bx bx-shopping-bag cursor me-3'></i>
                </a>
                <a th:href="@{login}">
                        <i class='bx bx-user cursor'></i>
                </a>
            </form>
        </div>
    </div>
</nav>